<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sound.dao.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.sound.entity.Document">
    <id column="DOCUMENT_ID" jdbcType="VARCHAR" property="documentId" />
    <result column="DOCUMENT_TYPE_ID" jdbcType="VARCHAR" property="documentTypeId" />
    <result column="DATE_CREATED" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="DOCUMENT_LOCATION" jdbcType="VARCHAR" property="documentLocation" />
    <result column="DOCUMENT_TEXT" jdbcType="VARCHAR" property="documentText" />
    <result column="LAST_UPDATED_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedStamp" />
    <result column="LAST_UPDATED_TX_STAMP" jdbcType="TIMESTAMP" property="lastUpdatedTxStamp" />
    <result column="CREATED_STAMP" jdbcType="TIMESTAMP" property="createdStamp" />
    <result column="CREATED_TX_STAMP" jdbcType="TIMESTAMP" property="createdTxStamp" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sound.entity.Document">
    <result column="IMAGE_DATA" jdbcType="LONGVARBINARY" property="imageData" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    DOCUMENT_ID, DOCUMENT_TYPE_ID, DATE_CREATED, COMMENTS, DOCUMENT_LOCATION, DOCUMENT_TEXT, 
    LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, CREATED_STAMP, CREATED_TX_STAMP
  </sql>
  <sql id="Blob_Column_List">
    IMAGE_DATA
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sound.entity.DocumentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sound.entity.DocumentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from document
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from document
    where DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from document
    where DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sound.entity.DocumentExample">
    delete from document
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sound.entity.Document">
    insert into document (DOCUMENT_ID, DOCUMENT_TYPE_ID, DATE_CREATED, 
      COMMENTS, DOCUMENT_LOCATION, DOCUMENT_TEXT, 
      LAST_UPDATED_STAMP, LAST_UPDATED_TX_STAMP, 
      CREATED_STAMP, CREATED_TX_STAMP, IMAGE_DATA
      )
    values (#{documentId,jdbcType=VARCHAR}, #{documentTypeId,jdbcType=VARCHAR}, #{dateCreated,jdbcType=TIMESTAMP}, 
      #{comments,jdbcType=VARCHAR}, #{documentLocation,jdbcType=VARCHAR}, #{documentText,jdbcType=VARCHAR}, 
      #{lastUpdatedStamp,jdbcType=TIMESTAMP}, #{lastUpdatedTxStamp,jdbcType=TIMESTAMP}, 
      #{createdStamp,jdbcType=TIMESTAMP}, #{createdTxStamp,jdbcType=TIMESTAMP}, #{imageData,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sound.entity.Document">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="documentId != null">
        DOCUMENT_ID,
      </if>
      <if test="documentTypeId != null">
        DOCUMENT_TYPE_ID,
      </if>
      <if test="dateCreated != null">
        DATE_CREATED,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="documentLocation != null">
        DOCUMENT_LOCATION,
      </if>
      <if test="documentText != null">
        DOCUMENT_TEXT,
      </if>
      <if test="lastUpdatedStamp != null">
        LAST_UPDATED_STAMP,
      </if>
      <if test="lastUpdatedTxStamp != null">
        LAST_UPDATED_TX_STAMP,
      </if>
      <if test="createdStamp != null">
        CREATED_STAMP,
      </if>
      <if test="createdTxStamp != null">
        CREATED_TX_STAMP,
      </if>
      <if test="imageData != null">
        IMAGE_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="documentId != null">
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="documentTypeId != null">
        #{documentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="documentLocation != null">
        #{documentLocation,jdbcType=VARCHAR},
      </if>
      <if test="documentText != null">
        #{documentText,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedStamp != null">
        #{lastUpdatedStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedTxStamp != null">
        #{lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdStamp != null">
        #{createdStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTxStamp != null">
        #{createdTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="imageData != null">
        #{imageData,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sound.entity.DocumentExample" resultType="java.lang.Long">
    select count(*) from document
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update document
    <set>
      <if test="record.documentId != null">
        DOCUMENT_ID = #{record.documentId,jdbcType=VARCHAR},
      </if>
      <if test="record.documentTypeId != null">
        DOCUMENT_TYPE_ID = #{record.documentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.dateCreated != null">
        DATE_CREATED = #{record.dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comments != null">
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.documentLocation != null">
        DOCUMENT_LOCATION = #{record.documentLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.documentText != null">
        DOCUMENT_TEXT = #{record.documentText,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdatedStamp != null">
        LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdatedTxStamp != null">
        LAST_UPDATED_TX_STAMP = #{record.lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdStamp != null">
        CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdTxStamp != null">
        CREATED_TX_STAMP = #{record.createdTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.imageData != null">
        IMAGE_DATA = #{record.imageData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update document
    set DOCUMENT_ID = #{record.documentId,jdbcType=VARCHAR},
      DOCUMENT_TYPE_ID = #{record.documentTypeId,jdbcType=VARCHAR},
      DATE_CREATED = #{record.dateCreated,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR},
      DOCUMENT_LOCATION = #{record.documentLocation,jdbcType=VARCHAR},
      DOCUMENT_TEXT = #{record.documentText,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
      LAST_UPDATED_TX_STAMP = #{record.lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
      CREATED_TX_STAMP = #{record.createdTxStamp,jdbcType=TIMESTAMP},
      IMAGE_DATA = #{record.imageData,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update document
    set DOCUMENT_ID = #{record.documentId,jdbcType=VARCHAR},
      DOCUMENT_TYPE_ID = #{record.documentTypeId,jdbcType=VARCHAR},
      DATE_CREATED = #{record.dateCreated,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR},
      DOCUMENT_LOCATION = #{record.documentLocation,jdbcType=VARCHAR},
      DOCUMENT_TEXT = #{record.documentText,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP = #{record.lastUpdatedStamp,jdbcType=TIMESTAMP},
      LAST_UPDATED_TX_STAMP = #{record.lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      CREATED_STAMP = #{record.createdStamp,jdbcType=TIMESTAMP},
      CREATED_TX_STAMP = #{record.createdTxStamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sound.entity.Document">
    update document
    <set>
      <if test="documentTypeId != null">
        DOCUMENT_TYPE_ID = #{documentTypeId,jdbcType=VARCHAR},
      </if>
      <if test="dateCreated != null">
        DATE_CREATED = #{dateCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="documentLocation != null">
        DOCUMENT_LOCATION = #{documentLocation,jdbcType=VARCHAR},
      </if>
      <if test="documentText != null">
        DOCUMENT_TEXT = #{documentText,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedStamp != null">
        LAST_UPDATED_STAMP = #{lastUpdatedStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedTxStamp != null">
        LAST_UPDATED_TX_STAMP = #{lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdStamp != null">
        CREATED_STAMP = #{createdStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdTxStamp != null">
        CREATED_TX_STAMP = #{createdTxStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="imageData != null">
        IMAGE_DATA = #{imageData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sound.entity.Document">
    update document
    set DOCUMENT_TYPE_ID = #{documentTypeId,jdbcType=VARCHAR},
      DATE_CREATED = #{dateCreated,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      DOCUMENT_LOCATION = #{documentLocation,jdbcType=VARCHAR},
      DOCUMENT_TEXT = #{documentText,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP = #{lastUpdatedStamp,jdbcType=TIMESTAMP},
      LAST_UPDATED_TX_STAMP = #{lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      CREATED_STAMP = #{createdStamp,jdbcType=TIMESTAMP},
      CREATED_TX_STAMP = #{createdTxStamp,jdbcType=TIMESTAMP},
      IMAGE_DATA = #{imageData,jdbcType=LONGVARBINARY}
    where DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sound.entity.Document">
    update document
    set DOCUMENT_TYPE_ID = #{documentTypeId,jdbcType=VARCHAR},
      DATE_CREATED = #{dateCreated,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      DOCUMENT_LOCATION = #{documentLocation,jdbcType=VARCHAR},
      DOCUMENT_TEXT = #{documentText,jdbcType=VARCHAR},
      LAST_UPDATED_STAMP = #{lastUpdatedStamp,jdbcType=TIMESTAMP},
      LAST_UPDATED_TX_STAMP = #{lastUpdatedTxStamp,jdbcType=TIMESTAMP},
      CREATED_STAMP = #{createdStamp,jdbcType=TIMESTAMP},
      CREATED_TX_STAMP = #{createdTxStamp,jdbcType=TIMESTAMP}
    where DOCUMENT_ID = #{documentId,jdbcType=VARCHAR}
  </update>
</mapper>